<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <%-include("common/header.ejs") %>
      <div class="title">
        Welcom to Yuchen Zhou's Portfolio
      </div>
      <%-include("common/footer.ejs") %>
    </div>
  </body>
</html>
