<!DOCTYPE html>
<html>

<head>
  <title>Projects</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <%-include("common/header.ejs") %>
      <div class="title">
        Projects
      </div>
      <div class="project">
        <img src="/images/project1.png" alt="project1">
        <div class="desc">
          This is an app in the medical and health industry, with online shopping mall, online consultation and other
          functions. In this project, I completed all the development, testing and deployment of the front end and back
          end by myself.
        </div>
      </div>
      <div class="project">
        <img src="/images/project2.png" alt="project2">
        <div class="desc">
          This is an app for selling cosmetics, with functions such as online shopping mall and member service. I am
          responsible for all the front-end development work in the development process of this project.
        </div>
      </div>
      <div class="project">
        <img src="/images/project3.png" alt="project3">
        <div class="desc">
          This is the official website of a Singaporean company in China, including PC and mobile terminals. I completed
          the front-end and back-end development of the project.
        </div>
      </div>
      <%-include("common/footer.ejs") %>
  </div>
</body>

</html>