<!DOCTYPE html>
<html>

<head>
  <title>Services</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <%-include("common/header.ejs") %>
      <div class="title">
        Services
      </div>
      <div class="info">
        <div>
          Front-end: Html, CSS, JavaScript, Vue.js, Flutter, ElementUI, etc.
        </div>
        <div>
          Back-end: Node.js, Express, Koa2, Spring Boot, etc.
        </div>
        <div>
          Database: MySQL, Oracle, MongoDB, etc.
        </div>
      </div>
      <%-include("common/footer.ejs") %>
  </div>
</body>

</html>