<header>
  <img class="logo" src="/images/logo.jpg" alt="logo" mode="heightFix">
  <div class="nav">
    <a href="/">
      <h1>Home</h1>
    </a>
    <a href="/about">
      <h1>About me</h1>
    </a>
    <a href="/project">
      <h1>Projects</h1>
    </a>
    <a href="/service">
      <h1>Services</h1>
    </a>
    <a href="/contact">
      <h1>Contact me</h1>
    </a>
  </div>
</header>